@import url("/templates/css/navbar.css");
@import url("/templates/css/footer.css");

body {
    /* height: 500vh; */
}
/* main */
.main{
    display: flex;
}
/* left-box */
.left-box{

    width: 900px;
    /*width: 70%*/
}
/* slider */
/*GLOBALS*/
* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
#slider-wrap {
    width: 850px;
    height: 500px;
    position: relative;
    overflow: hidden;
    margin: 20px;
}

#slider-wrap ul#slider {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#slider-wrap ul#slider li {
    float: left;
    position: relative;
    width: 800px;
    height: 400px;
    list-style: none;
}

#slider-wrap ul#slider li>div {
    position: absolute;
    /* top: 20px; */
}

#slider-wrap ul#slider li>div h3 {
    font-size: 40px;
    /* text-transform: uppercase; */
}

.slider_title {
    text-align: center;
    padding-top: 210px;
    width: 100%;
    height: 500px;
    /* background-color: pink; */


}

/* .slider_title_h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider_title_h3 {
    display: flex;
    justify-content: center;
    align-items: center;
  } */

#slider-wrap ul#slider li>div span {
    font-size: 21px;
}

#slider-wrap ul#slider li img {
    display: block;
    width: 850px;
    height: 500px;
}

/*btns*/
.slider-btns {
    position: absolute;
    width: 50px;
    height: 60px;
    top: 50%;
    margin-top: -25px;
    line-height: 57px;
    text-align: center;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.1);
    z-index: 100;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    -webkit-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

.slider-btns:hover {
    background: rgba(0, 0, 0, 0.3);
}

#next {
    right: -50px;
    border-radius: 7px 0px 0px 7px;
    color: #eee;
}

#previous {
    left: -50px;
    border-radius: 0px 7px 7px 7px;
    color: #eee;
}

#slider-wrap.active #next {
    right: 0px;
}

#slider-wrap.active #previous {
    left: 0px;
}

/*bar*/
#slider-pagination-wrap {
    min-width: 20px;
    margin-top: 470px;
    /* margin-left: auto;
    margin-right: auto; */
    position: relative;
    text-align: center;
    /* background-color: pink; */
}

#slider-pagination-wrap ul {
    width: 100%;
}

#slider-pagination-wrap ul li {
    margin: 0 4px;
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #fff;
    opacity: 0.5;
    position: relative;
    top: 0;
}

#slider-pagination-wrap ul li.active {
    width: 12px;
    height: 12px;
    top: 3px;
    opacity: 1;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 0px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 0px;
}

/*ANIMATION*/
#slider-wrap ul,
#slider-pagination-wrap ul li {
    -webkit-transition: all 0.3s cubic-bezier(1, .01, .32, 1);
    -o-transition: all 0.3s cubic-bezier(1, .01, .32, 1);
    transition: all 0.3s cubic-bezier(1, .01, .32, 1);
}

/* pop-up_menu */
.pop-up_menu{
    width: 845px;
    height: 50px;
    /* position: relative;
    overflow: hidden; */
    margin: 20px;
    background-color: white;
    display: flex;
    border: 4px solid #feb546;
}

.pop_up_text {
    font-family: "Noto Sans KR",sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: rgb(64, 64, 64);
    margin: 10px 10px;
    margin-left: 95px;
    margin-right: 55px;
}

.pop_up_bar {
    font-size: 25px;
    font-weight: 700;
    margin: 5px 5px;
    margin-left: 50px;
    color: #feb546;
}

/* right-box */
.right-box{
    width: 630px;
    /*width: 45%;*/
    font-family: "Noto Sans KR",sans-serif;
}
/* major */
.major_notice{
    width: 600px;
    height: 140px;
    margin-top: 20PX;
    /* position: relative;
    overflow: hidden; */
    /* margin: 20px; */
    background-color: white;
    border: 4px solid #feb546;
}

.major_sub1 {
    margin: 10px;
}

.major_sub2_list {
    width: 100px;
    text-align: right;
    color: rgb(139, 139, 139);
    /* background-color: pink; */
}

.major_sub1_list {
    margin-left: 30px;
    /* background-color: pink; */
    width: 450px;
    font-weight: 600;
    color:#696969;
}
.major_list_hr {
    border-bottom: 1px solid silver;
}


.major_big_list {
    display: flex;
}

.major_list_1 {
    list-style: none;
}

.major_text {
    font-weight: 600;
    font-size: 18px;
    float: left;
}

.major_plus {
    font-weight: 600;
    font-size: 13px;
    color: rgb(110, 110, 110);
    margin-left: 457px;
}

.major_hr {
    border: 0;
    height: 3px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #000000;
}


.major_list {
    font-size: 13px;
    line-height: 30px;
}

.major_list_1 {
    font-size: 12px;
    line-height: 30px;
    
}


/* employment */
.employment_notice{
    width: 600px;
    height: 140px;
    margin-top: 15PX;
    /* position: relative;
    overflow: hidden; */
    /* margin: 20px; */
    background-color: white;
    border: 4px solid #feb546;
}
/* calendar */
.calendar{
    width: 600px;
    height: 245px;
    margin-top: 15PX;
    /* position: relative;
    overflow: hidden; */
    /* margin: 20px; */
    background-color: white;
    border: 4px solid #feb546;
    display: flex;
}
.month_calendar{
    width: 400px;
}
.list{
    width: 200px;
}