<footer>
    <div class="footer_container">
        <div class="footer_box">
            <a href="https://bc.ac.kr/user/nd15358.do">개인정보처리방침</a>
            <div class="footer_bar">|</div>
            <a href="https://bc.ac.kr/user/nd20076.do">침해행위금지</a>
            <div class="footer_bar">|</div>
            <a href="https://bc.ac.kr/user/action/tenderList.do">입찰예결산공고</a>
            <div class="footer_bar">|</div>
            <a href="https://www.academyinfo.go.kr/pubinfo/pubinfo1600/doInit.do?schlId=0000482">대학정보공시</a>
            <div class="footer_bar">|</div>
            <a href="https://cafe.bc.ac.kr/association/AI017_VP_002.do?comtySeq=C20140401141522528198">개인정보공시</a>
            <div class="footer_bar">|</div>
            <a href="https://bc.ac.kr/user/nd99113.do">대학자체평가</a>
            <div class="footer_bar">|</div>
            <a href="https://bc.ac.kr/user/nd23990.do">한길학원</a>
            <div class="footer_bar">|</div>
            <a href="https://dept.bc.ac.kr/computer-software/etc/sitemap.do">사이트맵</a>

        <form>
            <select name="school_list" id="school_list">
                <option value="1">패밀리사이트</option>
                <option value="2">부천대학교</option>
                <option value="3">도서관</option>
                <option value="4">학생인트라넷</option>
                <option value="5">교직원인트라넷</option>
                <option value="6">학과홈페이지</option>
                <option value="7">원격평생교육원</option>
                <option value="8">부천융합지원센터</option>
                <option value="9">교육혁신원</option>
                <option value="10">평생교육원</option>
                <option value="11">대학혁신지원사업단</option>
                <option value="12">산학협력단</option>
                <option value="13">민간자격센터</option>
                <option value="14">글로벌어학센터</option>
                <option value="15">국제교류원</option>
            </select>
        </form>
    </div>


    <div class="footer_bottom_box">
        <div>본캠퍼스 : (우14632) 경기도 부천시 신흥로56번길 25</div>
        <div>소사캠퍼스 : (우14774) 경기도 부천시 소사로 56</div>
        <div>Tel : 032-610-0114 / Fax : 032-663-0114</div>
        <div>COPYRIGHT 2020 Bucheon University. All Rights Reserved.</div>
        <div>페이지 제작 : 누구보다 빛나조</div>
    </div>
</div>
</footer>