<nav class="navbar">
    <a href="/Main/html/main.html" class="logo_container">
        <img src="../../img/부천대_로고(배경없음).png" alt="부천대 로고" class="bucheon_logo">
        <div id="major_name">컴퓨터소프트웨어과</div>
    </a>

    <div class="menubar">
        <!-- introduce -->
        <div id="introduce_box">
            <div class="menubar_menu">학과소개</div>
            <div id="introduce">
                <a href="/Introduce/html/sub_greeting_part.html"  class="menubar_menu_item">소개글</a>
                <a href="/Introduce/html/sub_intro_part.html"  class="menubar_menu_item">교수소개</a>
                <a href="/Introduce/html/sub_road_part.html"  class="menubar_menu_item">오시는길</a>
            </div>
        </div>
        <!-- education -->
        <div id="education_box">
            <div class="menubar_menu">교육과정</div>
            <div id="education">
                <a href="/Education/html/sub_procedure_part.html"  class="menubar_menu_item">교육과정표</a>
            </div>
        </div>
        <!-- student activity -->
        <div id="student_box">
            <div class="menubar_menu">학생활동</div>
            <div id="activity">
                <a href="/Student_Club/html/sub_club_part.html"  class="menubar_menu_item">동아리</a>
                <a href="/Student_Club/html/sub_council_part.html"  class="menubar_menu_item">학우회</a>
                <a href="/Student_Club/html/sub_senier-project_part.html"  class="menubar_menu_item">졸업작품전</a>
            </div>
        </div>
        <!-- department notice -->
        <div id="major_box">
            <div class="menubar_menu">학과공지</div>
            <div id="major_calendar">
                <a href="/Department_Notice/html/sub_Announcement.html"  class="menubar_menu_item">학사공지</a>
                <a href="/Department_Notice/html/sub_school_schedule.html"  class="menubar_menu_item">학과일정</a>
            </div>
        </div>
        <!-- employment information -->
        <div id="information_box">
            <div class="menubar_menu">취업정보</div>
            <div id="employment_information">
                <a href="/Employment_Information/html/sub_Employment_information.html" class="menubar_menu_item">채용공고</a>
                <!-- <div class="menubar_menu_item">취업특강</div>
                <div class="menubar_menu_item">현장실습</div> -->
            </div>
        </div>
    </div>
    
</nav>