<nav class="navbar">
    <div class="logo_container">
        <img src="../../img/부천대_로고(배경없음).png" alt="부천대 로고" class="bucheon_logo">
        <div id="major_name">컴퓨터소프트웨어과</div>
    </div>

    <div class="menubar">
        <!-- introduce -->
        <div id="introduce_box">
            <div class="menubar_menu">학과소개</div>
            <div id="introduce">
                <div class="menubar_menu_item">소개글</div>
                <div class="menubar_menu_item">교수소개</div>
                <div class="menubar_menu_item">오시는길</div>
            </div>
        </div>
        <!-- education -->
        <div id="education_box">
            <div class="menubar_menu">교육과정</div>
            <div id="education">
                <div class="menubar_menu_item">교육과정표</div>
            </div>
        </div>
        <!-- student activity -->
        <div id="student_box">
            <div class="menubar_menu">학생활동</div>
            <div id="activity">
                <div class="menubar_menu_item">동아리</div>
                <div class="menubar_menu_item">학우회</div>
                <div class="menubar_menu_item">졸업작품전</div>
            </div>
        </div>
        <!-- department notice -->
        <div id="major_box">
            <div class="menubar_menu">학과공지</div>
            <div id="major_calendar">
                <div class="menubar_menu_item">학사공지</div>
                <div class="menubar_menu_item">학과행사</div>
                <div class="menubar_menu_item">학과일정</div>
            </div>
        </div>
        <!-- employment information -->
        <div id="information_box">
            <div class="menubar_menu">취업정보</div>
            <div id="employment_information">
                <div class="menubar_menu_item">채용공고</div>
                <div class="menubar_menu_item">취업특강</div>
                <div class="menubar_menu_item">현장실습</div>
            </div>
        </div>
    </div>
    
</nav>