@import url("/templates/css/navbar.css");
@import url("/templates/css/footer.css");

/*body {
    color: #555;
    background-color: #eeeeee;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*/
p {
    margin: 0 0 20px;
    line-height: 1.5;
}

.tap_container {
    padding-top: 3%;
    padding-right: 15%;
    padding-left: 15%;
    /* min-width: 320px;
    max-width: 800px;
    padding: 50px;
    margin: 0;
    margin-left: 170px; */
}

/*big title*/
.senier-project {
    font-size: 40px;
    font-weight: bold;

}

.thick_hr {
    border: none;
    background-color: #feb546;
    height: 4px;
    border-color: 2px, siuld, aajff;
}

.tap_taplit{
    width: 95%;
    margin-left: 25px;
}

#sosa_compus_container {
    display: none;
    padding: 10px 0 0;
    border-top: 1px solid #ddd;
    background-color: white;
    width: 100%;
    height: 430px;
    border: 2px solid #feb546;
    border-color: #feb546;
    border-radius: 5px;
}


#sosa_station_container {
    display: none;
    padding: 10px 0 0;
    border-top: 1px solid #ddd;
    background-color: white;
    width: 100%;
    height: 430px;
    border: 2px solid #feb546;
    border-color: #feb546;
    border-radius: 5px;
}


#sosaeul_station_container {
    display: none;
    padding: 10px 0 0;
    border-top: 1px solid #ddd;
    background-color: white;
    width: 100%;
    height: 430px;
    border: 2px solid #feb546;
    border-color: #feb546;
    border-radius: 5px;
}

#bucheon_station_container {
    display: none;
    padding: 10px 0 0;
    border-top: 1px solid #ddd;
    background-color: white;
    width: 100%;
    height: 430px;
    border: 2px solid #feb546;
    border-color: #feb546;
    border-radius: 5px;
}


input {
    display: none;
}


label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: 900;
    text-align: center;
    color: #bbb;
    border: 1px solid transparent;
    border-radius: 5px 5px 0px 0px;
    /* background-color: aqua; */
    width: 85px;
    border: 2px solid #feb546;
    font-size: 14px;
}



label:hover {
    color: #feb546;
    cursor: pointer;
}

input:checked + label {
    color: #555;
    /* border: 1px solid #ddd; */
    /* border-top: 2px solid orange; */
    /* border-left: 2px solid orange;
    border-right: 2px solid orange; */
    border-bottom: 2px solid white;
    background-color: white;
    /* background-color: #bbb; */
    
}

#sosa_compus:checked ~ #sosa_compus_container,
#sosa_station:checked ~ #sosa_station_container,
#sosaeul_station:checked ~ #sosaeul_station_container,
#bucheon_station:checked ~ #bucheon_station_container {
    display: block;
}

.school_img {
    width: 600px;
    height: 400px;
    margin: 10px;
    margin-left: 20px;
    border-radius: 5px;
}



.sosa_compus_content_container {
    display: flex;
}

#traffic_sosa_compus {
    font-weight: 600;
    color: #feb546;
}

#title {
    font-weight: 600;
    font-size: 14px;
}

#content {
    font-size: 13px;
}


#traffic_sosa_compus_content3 {
    margin-bottom: 15px;
}

.sosa_station_content_container2 {
    display: flex;
}

.sosa_station_content_container3 {
    display: flex;
}

.sosa_station_content_container4 {
    display: flex;
}

.traffic_sosa_station_container1 {
    margin-top: 10px;
}

.traffic_sosa_compus_container1 {
    margin-top: 10px;
}