@import url("/templates/css/navbar.css");
@import url("/templates/css/footer.css");

.rectuitment_container {
    padding-top: 3%;
    padding-right: 15%;
    padding-left: 15%;
    /*margin-left: 20%;
    margin-right: 10%;
    margin-top: 2%;*/
}

.thick_hr {
    border: none;
    background-color: #feb546;
    height: 4px;
    border-color: 2px, siuld, aajff;
}

.rectuitment-project {
    font-size: 40px;
    font-weight: bold;
}

.search {
    position: relative;
    width: 75%;
    margin-left: 10%;
    margin-bottom: 40px;
}

input {
    width: 100%;
    border: 1px solid #3d3d3d;
    padding: 10px 12px;
    font-size: 14px;
}

.search_icon {
    position: absolute;
    width: 17px;
    top: 10px;
    right: 5px;
    margin: 0;
}

.rectuitment_table {
    width: 100%;
    height: 18px;
    text-align: center;
    border-collapse: collapse;
    border: 2px solid white;
    border-top: 2.5px solid rgb(0, 0, 0);
    border-bottom: 2.5px solid rgb(0, 0, 0);
}

.rect_big {
    border: 2px solid white;
    border-left: none;
    border-right: none;
}

.rect_big_title {
    height: 35px;
    background-color: #e0efb9;
    border: 2px solid white;
    border-left: none;
    border-right: none;
    font-weight: 500;
}

.rect_one_td {
    font-family: "Noto Sans KR",sans-serif;
    width: 50px;
    height: 70px;
    color: rgb(67, 67, 67);
    border-bottom: 1px solid #000000;
}

.rect_two_td {
    width: 180px;
    text-align: left;
    border-bottom: 1px solid #000000;
    font-family: "Noto Sans KR",sans-serif;
    color: rgb(67, 67, 67);
}

.rect_thr_td {
    border-bottom: 1px solid #000000;
    width: 40px;
    font-family: "Noto Sans KR",sans-serif;
    color: rgb(67, 67, 67);
}

.rect_four_td {
    width: 80px;
    border-bottom: 1px solid #000000;
    font-family: "Noto Sans KR",sans-serif;
    color: rgb(67, 67, 67);
}

.rect_fiv_td {
    width: 0px;
    border-bottom: 1px solid #000000;
    font-family: "Noto Sans KR",sans-serif;
    color: rgb(67, 67, 67);
}

.btn_group {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 70px;
}

.btn_group button:hover {
    color: white;
    background-color: #feb546;
}

.btn_group button{
    border: 0;
    outline: 0;
    background-color: rgba(0, 0, 0, 0);
    width: 40px;
    height: 33px;
    border-radius: 4px;
}

.number_btn {
    font-weight: 600;
    font-size: 16px;
}

td a {
    color: black;
    text-decoration-line: none;
}